:root {
    --primary-color: #212121;
    --background-color: #f00;
    --font: sans-serif;
}

/* Timeline Container */
.timeline-left {
    background-color: "red";
    /* margin: 20px 20px;
  padding: 20px; */
    width: min-content;
}

/* Card container */
.card-left {
    position: relative;
    max-width: 400px;
    height: 200px
}

/* setting padding based on even or odd */
.card-left:nth-child(odd) {
    padding: 30px ;
}
.card-left:nth-child(even) {
    padding: 30px 30px 30px 0;
}
/* Global ::before */
.card-left::before {
    content: "";
    position: absolute;
    width: 50%;
    border: none;
}

.timeline-left:nth-child(odd) > .card-left::before {
  content: "";
  position: absolute;
  width: 50%;
  border: solid black;
}


/* Setting the border of top, bottom, left */
.card-left:nth-child(odd)::before {
    left: 0px;
    top: -4.5px;
    bottom: -4.5px;
    border-width: 5px 0 5px 5px;
    border-radius: 50px 0 0 50px;
}

/* Setting the border of top, bottom, right */
.card-left:nth-child(even)::before {
    right: 0;
    top: 0;
    bottom: 0;
    border-width: 5px 5px 5px 0;
    border-radius: 0 50px 50px 0;
}

/* Removing the border if it is the first card-left */
.card-left:first-child::before {
    border-top: 0;
    border-top-left-radius: 0;
}

/* Removing the border if it is the last card-left  and it's odd */
.card-left:last-child:nth-child(odd)::before {
    border-bottom: 0;
    border-bottom-left-radius: 0;
}

/* Removing the border if it is the last card-left  and it's even */
.card-left:last-child:nth-child(even)::before {
    border-bottom: 0;
    border-bottom-right-radius: 0;
}

/* Information about the timeline-left */
.card-left:nth-child(odd) > .info-left {
    display: flex;
    flex-direction: column;
    /* color: gray; */
    border-radius: 10px;
    padding: 0 10px 10px;
    text-align: right;
}

/* Title of the card-left */
.title-left {
    /* color: orangered; */
    position: relative;
}

.outer-left {
    width: min-content;
}
/* Timeline dot  */

/* text right if the card-left is even  */
.card-left:nth-child(even) > .info-left > .title-left {
    text-align: right;
}

/* setting dot to the left if the card-left is odd */
.card-left:nth-child(odd) > .info-left > .title-left::before {
    left: -45px;
}

/* setting dot to the right if the card-left is odd */
.card-left:nth-child(even) > .info-left > .title-left::before {
    right: -45px;
}

.card-left:nth-child(odd) > .info-left > p {
    color: white;
    width: 300px;
}

.card-left:nth-child(odd) > .info-left > h3 {
    color: white;
    font-weight: 700;
}