/* Timeline Container */
.timeline-mobile {
    margin: 0px 20px 20px 20px;
}

/* Card container */
.card-mobile {
    position: relative;
    max-width: 400px;
}

/* setting padding based on even or odd */
.card-mobile:nth-child(odd) {
    padding: 30px 0px 30px 30px;
}
.card-mobile:nth-child(even) {
    padding: 30px 30px 30px 0;
}
/* Global ::before */
.card-mobile::before {
    content: "";
    position: absolute;
    width: 50%;
    border: solid #C14EC9;
}

/* Setting the border of top, bottom, left */
.card-mobile:nth-child(odd)::before {
    left: 0px;
    top: -4.5px;
    bottom: -4.5px;
    border-width: 5px 0 5px 5px;
    border-radius: 50px 0 0 50px;
    border-color: #C14EC9;
}

/* Setting the border of top, bottom, right */
.card-mobile:nth-child(even)::before {
    right: 0;
    top: 0;
    bottom: 0;
    border-width: 5px 5px 5px 0;
    border-radius: 0 50px 50px 0;
    border-color: #C14EC9;
}

/* Removing the border if it is the first card-mobile */
.card-mobile:first-child::before {
    border-top: 0;
    border-top-left-radius: 0;
}

/* Removing the border if it is the last card-mobile  and it's odd */
.card-mobile:last-child:nth-child(odd)::before {
    border-bottom: 0;
    border-bottom-left-radius: 0;
}

/* Removing the border if it is the last card-mobile  and it's even */
.card-mobile:last-child:nth-child(even)::before {
    border-bottom: 0;
    border-bottom-right-radius: 0;
}

/* Information about the timeline-mobile */
.info-mobile {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 10px;
}

/* Title of the card-mobile */
.title-mobile {
    position: relative;
    font-size: 24px;
    color: #248DDA;
}

/* Timeline dot  */
.title-mobile::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    background: white;
    border-radius: 999px;
    border: 3px solid #eee;
}

/* setting dot to the left if the card-mobile is odd */
.card-mobile:nth-child(odd) > .info-mobile > .title-mobile::before {
    left: -48px;
}

/* setting dot to the right if the card-mobile is odd */
.card-mobile:nth-child(even) > .info-mobile > .title-mobile::before {
    right: -48px;
}

.card-mobile:nth-child(even) > .info-mobile  {
    text-align: right;
}

.card-mobile > .info-mobile > .title-mobile::before {
    top: 6px;
}
