:root {
    --primary-color: #212121;
    --background-color: #f00;
    --font: sans-serif;
}

/* Timeline Container */
.timeline-right {
    background-color: "red";
    /* margin: 20px 20px;
  padding: 20px; */
    width: min-content;
}

/* Card container */
.card-right {
    position: relative;
    width: 400px;
    height: 200px;
}

/* setting padding based on even or odd */
.card-right:nth-child(odd) {
    padding: 20px 30px;
}
.card-right:nth-child(even) {
    padding: 30px 30px 30px 30px;
}
/* Global ::before */
.card-right::before {
    content: "";
    position: absolute;
    width: 50%;
    border: none;
}

.timeline-right:nth-child(odd) > .card-right::before {
    content: "";
    position: absolute;
    width: 50%;
    border: solid #121212;
}

/* Setting the border of top, bottom, left */
.card-right:nth-child(odd)::before {
    left: 0px;
    top: -4.5px;
    bottom: -4.5px;
    border-width: 5px 0 5px 5px;
    border-radius: 50px 0 0 50px;
}

/* Setting the border of top, bottom, right */
.card-right:nth-child(even)::before {
    right: 0;
    top: 0;
    bottom: 0;
    border-width: 5px 5px 5px 0;
    border-radius: 0 50px 50px 0;
}

/* Removing the border if it is the first card-right */
.card-right:first-child::before {
    border-top: 0;
    border-top-left-radius: 0;
}

/* Removing the border if it is the last card-right  and it's odd */
.card-right:last-child:nth-child(odd)::before {
    border-bottom: 0;
    border-bottom-left-radius: 0;
}

/* Removing the border if it is the last card-right  and it's even */
.card-right:last-child:nth-child(even)::before {
    border-bottom: 0;
    border-bottom-right-radius: 0;
}

/* Information about the timeline-right */
.card-right:nth-child(even) > .info-right {
    display: flex;
    flex-direction: column;
    /* color: gray; */
    border-radius: 10px;
    padding: 0 10px 10px;
}

/* Title of the card-right */
.title-right {
    /* color: orangered; */
    position: relative;
}

.outer-right {
    width: min-content;
}

/* text right if the card-right is even  */
.card-right:nth-child(even) > .info-right > .title-right {
    text-align: left;
}

/* setting dot to the left if the card-right is odd */
.card-right:nth-child(odd) > .info-right > .title-right::before {
    left: -45px;
}

/* setting dot to the right if the card-right is odd */
.card-right:nth-child(even) > .info-right > .title-right::before {
    right: -45px;
}

.card-right:nth-child(even) > .info-right > p {
    color: white;
}
.card-right:nth-child(even) > .info-right > h3 {
    color: white;
    font-weight: 700;
}
